/* Cobutechcss/cobu.css */
body {
    background-color: blue;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column; /* Arrange items vertically */
    position: relative;
    overflow: hidden; /* To hide the text initially */
}

.container-vertical {
    display: flex;
    flex-direction: column; /* Arrange profile and text vertically */
    align-items: center; /* Center them horizontally */
    width: 80%; /* Adjust as needed */
    max-width: 700px; /* Maximum width of the content area */

}
.profile-container {
    width: 7cm; /* Diameter */
    height: 7cm; /* Height */
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 1em; /* Space below the profile */
    opacity: 0; /* Initially hidden */
    transition: opacity 2s ease-in-out; /* Fade in over 2 seconds */
}


.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
}

.profile-container.visible {
    opacity: 1;
}

.typing-animation-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center text horizontally */
    white-space: nowrap; /* Prevent text from wrapping */
    opacity: 0; /* Initially hidden */
    transition: opacity 2s ease-in-out; /* Fade in over 2 seconds */
    font-size: 3em; /* Increased font size */
}

.typing-animation-container.visible {
    opacity: 1;
}

.typing-animation {
    font-size: inherit; /* Inherit font size */
    font-weight: bold;
    color: white; /* Text color */
    overflow: hidden; /* Hide text during typing */
}

.top-text {
    /* Styling for "COBUTECH WEB" */
}

.bottom-text {
    /* Styling for "INDUSTRY POWER ⚡" */
}

.copyright {
    position: absolute;
    bottom: 10px;
    color: white;
    font-size: 0.8em;
}
